
  <div class="container-fluid mx-auto">
    <div class="row">

      <div class="col-12 col-md-5 col-lg-4 d-md-flex align-items-center bg-grad h-sm-100-vh">
          <div class="w-100 p-3 p-lg-5 all-text-white">
            <div class="justify-content-center align-self-center">
            <img class="card-img" src="https://photos-chatons.s3.eu-west-3.amazonaws.com/kittens+resize/Balinais/Promo-Facebook-Ad+(Carousel)+(5).jpeg", alt="Card image cap">
            </div>
            <ul class="list-group list-group-borderless mt-4">
              <li class="list-group-item text-white">Inscrivez-vous </li>
              <li class="list-group-item text-white">Téléchargez des photos de chatons sur notre site</li>
              <li class="list-group-item text-white">Et profitez de la vie</li>
            </ul>
          </div>
      </div>

      <div class="col-12 col-md-7 col-xl-8 mx-auto my-5">
        <div class="row h-100">
          <div class="col-12 col-md-10 col-lg-5 text-left mx-auto d-flex align-items-center">
            <div class="w-100">
              <h2 class="">Inscrivez-vous maintenant</h2>
              <h5 class="font-weight-light">pour voir tous nos chatons</h5>
            <div class="form mt-4 ">
                    
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :password, "Mot de passe" %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> charactère minimun)</em>
                <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" %>
              </div>

              <div class="field">
                  <%= f.label :password_confirmation, "Confirmez mot de passe" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>

              <div class="actions"></button>
                <%= f.submit "Inscrivez-vous", class: "btn btn-primary", style: "width:204px;"%>                  </div>
                <% end %>

                  <p>Tu as déjà un compte chez nous ? </p>
                  <%= render "devise/shared/links" %>									
                  
                  
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>