<section class="p-0 height-700 parallax-bg" style="background-image: url(https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1027&q=80)">
        <div class="container h-100">
            <div class="row justify-content-between align-items-center h-100">
                <div class="col-md-8 mb-7">
                    <h4 class="text-white">Trouvez les plus belles images du web !</h4>
                    <h1 class="display-4 font-weight-bold text-white">Bienvenue au royaume des chats</h1>
                </div>
            </div>
        </div>
    </section>

<section class="portfolio portfolio-style-2 pb-0">
			<div class="container">
				<div class="row">
					<div class="col-md-12 p-0">
						<div class="nav justify-content-center">
							<ul class="nav-tabs nav-tabs-style-3 text-center px-2 p-md-0 m-0 mb-4">
								<li class="nav-filter active" data-filter="*">Toutes les images</li>
								<% (@category.count).times do |count| %>
									<li class="nav-filter" data-filter=".<%= count +1 %>"><%=@category.find(count +1).name %>   </li>
								<% end %>
							</ul>
						</div>
					</div>
				</div>
			</div>
</section>
	<section class="portfolio pb-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12 p-0">
					<div class="portfolio-wrap grid items-4 items-padding">
						<!-- portfolio-card -->
						<% for product in @product %>
							<div class="portfolio-card isotope-item <%= product.category_id %> ">
								<div class="portfolio-card-body">
									
									<div class="portfolio-card-footer">


										<img class="card-img" src="<%=product.url %>" alt="Card image cap">
										<h6 class="info-title"><a href="<%=product_path(product.id)%>" title=""><%=product.name %></a></h6>
										<h6>Prix <%=product.price %>€ </h6>
										<% if user_signed_in? %>
											<%= link_to "Ajouter au panier !", product_carts_path(product_id: product.id), method: :post, class: 'btn btn-primary mr-0 text-light' %> 										
										<% else %>
                							<%= link_to "Au panier !", new_user_session_path, class: 'btn btn-primary  mr-0 text-light'%>
										<%end%>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</section>

	


	
