
	<section class="portfolio pb-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12 p-0">
					<div class="portfolio-wrap grid items-4 items-padding">
						<!-- portfolio-card -->
						<% for product in @product %>
							<div class="portfolio-card isotope-item <%= product.category_id %> ">
								<div class="portfolio-card-body">
									
									<div class="portfolio-card-footer">


										<img class="card-img" src="<%=product.url %>" alt="Card image cap">
										<h6 class="info-title"><a href="<%=product_path(product.id)%>" title=""><%=product.name %></a></h6>
										<h6>Prix <%=product.price %>€ </h6>
										<h6 class="btn btn-primary" href="#">Ajouter au panier</h6>

									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- =======================
	Pricing -->
	<section class="pricing pricing-center">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<h2>Affordable Pricing Packages</h2>
						<p>We can design and develop a website that specifically meets your unique needs, and meets your required standards as well as industry related standards</p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- pricing item -->
				<div class="col-md-4 mb-5">
					<div class="pricing-box h-100">
						<h5>Personal Plan</h5>
						<div class="plan-price">
							<span class="price text-grad">
							<sup class="text-grad">$</sup>20 </span> /month
						</div>
						<p>Content Management System, Installation & Setup, Search engine friendly and Social media integration</p>
						<a class="btn btn-outline-light mt-4" href="#!">Order now!</a>
					</div>
				</div>
				<!-- pricing item -->
				<div class="col-md-4 mb-5">
					<div class="pricing-box h-100 shadow no-border box">
						<div class="ribbon"><span>POPULAR</span></div>
						<h5>Business Plan</h5>
						<div class="plan-price">
							<span class="price text-grad">
							<sup class="text-grad">$</sup>50 </span> /month
						</div>
						<p>Search engine friendly, Contact form, Social media integration and Mobile and tablet friendly design</p>
						<a class="btn btn-grad mt-4" href="#!">Order now!</a>
					</div>
				</div>
				<!-- pricing item -->
				<div class="col-md-4 mb-5">
					<div class="pricing-box h-100">
						<h5>Ultimate Plan</h5>
						<div class="plan-price">
							<span class="price text-grad">
							<sup class="text-grad">$</sup>99 </span> /month
						</div>
						<p>Content integration, Slider Design, Social media integration and True 24 X 7 customer support</p>
						<a class="btn btn-outline-light mt-4" href="#!">Order now!</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto text-center mt-3">
					<h6>If you're not exactly sure which pricing strategy will work for your business. Contact us we will help you to choose your best pricing plan. </h6>
					<a class="btn btn-dark" href="#!">Contact us!</a>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Pricing -->


	
