<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex justify-content-start">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
           <i class="fas fa-cat fa-4x"></i>          
          </li>
          <li class="nav-item active">
            <%= link_to "Accueil", root_path, :class => "nav-link" %>
          </li>
          <%if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mon Compte
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              <%= link_to "Mon Profil", user_path(:id => current_user.id), :class => "dropdown-item" %>
              <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, :class => "dropdown-item" %>
            </div>
          </li>
          <%else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mon Compte
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <%= link_to "Se connecter", new_user_session_path, :class => "dropdown-item" %>
                <%= link_to "Nouveau client?",  new_user_registration_path, :class => "dropdown-item"%>
              </div>
            </li>
          <%end%>
        </ul>
      </div>
      <div class="d-flex justify-content-end">
        <ul class="navbar-nav mr-auto" >
          <% if user_signed_in?%>
          <li class="nav-item p-2">
            <%= link_to "Mon Panier", user_cart_path(:user_id => current_user.id, id: Cart.where(user_id: current_user.id).last), :class => "nav-link" %>
          </li>
          <% end %>
          <li class="nav-item p-2">
            <%= link_to "A Propos", contact_index_path, :class => "nav-link" %>
          </li>
        </ul>
      </div> 
    </div>
  </nav>