<!DOCTYPE html>
<html>
  <head>
    <title>AppChaton</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <script src="https://kit.fontawesome.com/18f2e2cbfa.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>

  <header>
    <%= render 'layouts/navbar'%>
  </header>

    
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
  <footer>
    <%= render 'layouts/footer'%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </footer>
</html>
